:root {
    --open-sans: "Open Sans", sans-serif;
    --grenze-gotisch: "Grenze Gotisch", serif;
    --jacquard-12-regular: "Jacquard 12", system-ui;
    --cardo-regular: "Cardo", serif;

    font-optical-sizing: auto;
    font-style: normal;
}